.containermain {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 10px;
    margin-bottom: 25px;
}

@media only screen and (max-width: 1600px) {
    .containermain {
        grid-template-columns: 100%;
    }
}