.card {
    text-decoration: none;
    color: white;
    padding: 20px;
    background-color: #2A6B7C;
    border-radius: 5px;
    text-align: center;
    height: 250px;
    cursor: pointer;
    transition: all 100ms linear;
}

.card:hover {
    transform: scale(1.1);
    background-color: #143E3B;
}

.carddescription {
    text-align: left;
    margin-top: 10px;
    height: 130px;
    overflow-y: auto;
}

.language {
    display: flex;
    justify-content: flex-end;
}

.language p {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid silver;
}

@media only screen and (max-width: 600px) {
    .card {
        height: fit-content;
    }
}