.main {
    color: white;
    padding: 30px 50px 30px;
}

.vermais {
    border-radius: 20px;
    background-color: #64B83C;
    color: white;
    font-weight: bold;
    width: fit-content;
    transition: all 100ms linear;
    cursor: pointer;
    padding: 10px;
}

.vermais a {
    padding: 10px;
}

.vermais:hover {
    transform: scale(1.2);
    background-color: #50982f;
}

@media only screen and (max-width: 1600px) {
    .main {
        padding: 20px 40px 20px;
    }

}