.container {
    display: grid;
    grid-template-columns: 100%;
}

.featureproject {
    background-color: #143E3B;
    border-radius: 5px;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: 35% auto;
    transition: all 100ms linear;
    width: 100%;
}

.containerimage {
    padding: 50px 15px 20px 15px;
    background-color: #246e69;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-right: 40px;
}

.featureproject:hover {
    background-color: #0c2523;
}

.containerimage img {
    width: 100%;
    height: 100%;
}

.content {
    padding: 20px;
}

.content h1 {
    margin-bottom: 20px;
}

.content p {
    line-height: 25px;
    color: snow;
    height: 200px;
    overflow-y: auto;
}

.containerlink {
    text-align: right;
    margin-top: 10px;
    font-size: 15px;
    font-weight: bolder;
    text-decoration: underline;
}

.listlanguages {
    margin-top: 10px;
}

.listlanguages ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 5px;
    width: 50%;
}

.listlanguages li {
    padding: 10px 20px 10px 20px;
    border: 1px solid snow;
    border-radius: 5px;
    font-weight: bolder;
}

@media only screen and (max-width:1600px) {
    .featureproject {
        grid-template-columns: 100%;
    }

    .containerimage {
        margin: 0;
        margin-bottom: 10px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 0;
        border-top-right-radius: 5px;
    }

    .containerlink {
        margin-top: 50px;
    }

    .listlanguages ul {
        grid-template-columns: repeat(2, auto);
    }
}