.porcentbar {
    color: white;
    margin-bottom: 20px;
}

.porcentbarbar {
    background-color: #060C0F;
    width: 100%;
    border-radius: 5px;
    height: 10px;
}

.porcentbartitle {
    margin: 0;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
}

.porcentbarfill {
    height: 100%;
    background-color: #64B83C;
    border-radius: 5px;
    transition: all 100ms linear;
}

.porcentbarnumber {
    color: silver;
}