.box {
    padding: 30px;
    margin: 10px;
    background-color: #143E3B;
    border-radius: 5px;
    text-align: center;
}

.containerimg {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}

.image {
    width: 50%;
    border-radius: 100%;
    margin-bottom: 5px;
}

.titleimage {
    font-size: large;
    color: snow
}

.userdescription {
    color: silver
}